div {
    max-width: 300px;
    margin: 0 auto;
  }
  .loginBtnStyle{
    margin-top: 20px;
    min-width: 300px;
  }
  .form-check-label{
    margin-top: 5x;
    margin-left: 5px;
  }
  
  @media screen and (max-width: 767px) {
    div {
      max-width: none;
    }
  }