ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color:rgba(0, 0, 0, 0.712);
    border-radius: 8px 8px 0px 0px;
    font-family: cursive;
  
  
  }
  li{
    float: left;
  
  }
  li a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 12px 12px;
    display: block;
    cursor: pointer;
  
  }
  a:hover {
    background-color: red;
  }
  .active{
    background-color: rgb(235, 139, 110);
  }
  .divisionStyle{
    width:1200px;
    margin: auto;
  }