<div class="divStyle">
  <div style='text-align: center;font-size: xx-large;color:brown;font-family: cursive;'>{{title}}</div>
  <hr style='width: 300px;margin: auto;color: rgb(42, 71, 165);height: 3px;'>
  <table style="width:1200px;margin:auto">
    <tr>
      <td>
        <ul>
            <li><a routerLinkActive="active" routerLink="home">Home</a></li>
            <li><a routerLinkActive="active" routerLink="login">Login</a></li>
            <li><a routerLinkActive="active" routerLink="registaion">Registaion</a></li>
        </ul>
      </td>
    </tr>
  </table>
  <router-outlet></router-outlet>
</div>